<div class="loader" *ngIf="isLoading; else content">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-template #content>
  <div *ngIf="integrationDetails">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="integration-panel">
              <fa-icon [icon]="faGithub"></fa-icon> 
              <span>GitHub</span>
              <fa-icon [icon]="faCheckCircle" color="green" *ngIf="integrationDetails" class="mr-2"></fa-icon> 
              <fa-icon [icon]="faRepeat" *ngIf="integrationDetails"></fa-icon>  
            </div>
            <span
              >Last Synced
              {{ integrationDetails.createdAt | date : "short" }}</span
            >
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="justify-content: end">
          <button mat-raised-button color="primary" (click)="remove()">
            Remove Integration
            <fa-icon [icon]="faHatCowboy"></fa-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
    <app-repositories></app-repositories>
  </div>

  <mat-accordion *ngIf="!integrationDetails">
    <mat-expansion-panel class="connect-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> GitHub </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button color="primary" (click)="connect()">
        Connect
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
